.hmac-sha1-wrapper {
   font-family:"Inconsolata";
   
}
.hmac-sha1 {

  background-color:#333333;
}
.hmac-sha1 .upper{

  font-size:1.2em;
  color:#87c6ff;
  text-align:center;
  background-color:#333333;
}

.hmac-sha1 .tittle {
  font-size:2.1em;
}

.hmac-sha1 .description {
  font-size: 1.1em;
  text-align:left;
}

.hmac-sha1 .app-name {
  color:#e07c50;
}

.hmac-main {
  color:#b3b3b3;
  font-size: 1.5em; 
  text-align:center;
  padding-top: 4%;

}

.italics {
  font-style:italic;
}

.function {
  margin-bottom:2%; 
  position:relative;  
}
.function-call {
  margin-bottom: 4%;
  
  &, :hover{
     cursor: pointer;
  }
}
.function-apstraction {
   height:10px;
}
.row {
  position:absolute;
  height:7px;
  border-top: 6px dotted #b3b3b3;
  margin:5px;
  width:50%;
  left:25%;
}

#r1 {
  transition: border-color .5s;
  bottom: 11px;
}
#r2 {
  bottom: 2px;
  transition: border-color .5s;
}

#r3 {
  transition:  border-color .5s;
}
.border-color-1 {
  border-color:#c3a58f;
}
.border-color-2 {
  border-color:#94734d;
}

.border-color-3 {
  border-color:#b58136;
}

.hash{
  margin-top:2.5%;
  min-height: 10px;
}
.hash-num {
  
  opacity:0;
  position:relative;
  top:-20px;
  margin-left:1px;
  transition: top .8s .1s cubic-bezier(0.000, 1, 0.405, 1)  , opacity .8s .1s cubic-bezier(0.000, 1, 0.405 , 1), font-size .8s .1s;
}
.drop-number {
  opacity:1;
  top:0px;
  font-size:1.1em;
}

.hash-num-hide {
   opacity:0;
}

@media (max-width:1420px){
    .hmac-main {

       padding-top:8.3333%;
    }
}
@media (min-width:1024px) and (max-width: 1420px){

    
    .row {
       width:70%;
       left:15%;
       right:15%;
    }
    
}

@media (max-width:1023px){
   .hmac-main {

      margin-left: 0px;
   }

   .row {
      width:90%;
      left:5%;
      right:5%;
   }
}
@media (max-width:700px){
   .hmac-sha1 .tittle {
      font-size:1.9em;
   }
   .row {

      width:100%;
      left:0;
   } 
}


@media (min-width:560px) and (max-width:700px){
   .function-call {
     font-size:.9em;
     margin-bottom:5%;
   }
   
   
   .hash {

      font-size:.8em;
      margin-top:3%;
   }
}

@media (min-width:500px) and (max-width:559px){
  .hmac-sha1 .description {
    font-size:1em;
  }

  .function-call {
     font-size:.8em;
     margin-bottom:5%;
   }

   .hash {

      font-size:.7em;
      margin-top:3%;
  } 
}


@media  (max-width:499px){
  .hmac-sha1 .description {
    font-size:.87em;
  }
  .hmac-main {
    padding-left:4%;
    padding-right:4%;
  }
  .function-italics {
      position:relative;
  }
  .function-call {
     font-size:.8em;
     margin-bottom:9%;
   }

   .hash {
      width:95%;
      margin:0 auto;
      font-size:.5em;
      margin-top:5%;
  } 
  .row {
    width:95%;
    left:3px;
  }

}

