<!DOCTYPE html>
<html ng-app="Portfolio">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="client/assets/css/cube-part1.css">
      <link rel="stylesheet" href="client/assets/css/cube-part2.css">
      
      <script src="client/vendor/head.load.min.js"></script>
      <script src="client/assets/js/boot.js"></script>

     
   </head>

 <body ng-controller="MainCtrl as main">
    <div class="make-it-rain">
        <canvas class="smiley-rain" resize-rain>.</canvas>
        <p class="rain-text">
            <span class="first-line"></span>
            <br>
            <span class="second-line"></span>
        </p>
    </div>
    <div class="navbar" ng-cloak="">

        <div class="nav-{{side.name}}" 
             ng-repeat="side in main.sides" 
             ng-click="main.rotateCube(side)">

             <p class="element">{{ side.position | abbreviate }}</p>
             <p class="element-info">{{ side.name | shorten }}</p>
        </div>

        <div class="navbar-abstract" set-navbar="" ng-click="main.setNavbar()"> 
            <div class="screen-edge">
            </div>
             <div class="nav">
            </div>
        </div>
        <div class="rain" ng-click="main.takeThePill()">
            <div class="pill"></div>
            <p class="element-info">pill</p>
        </div>
    </div>

    <div ng-view="" class="scene">
    </div>
 </body>

<html>
